.form-inline {
    display: flex;
    flex-direction: row;
}
.search-input {
    width: 600px;
    height: 30px;
    font-size: 17px;
    margin-right: 20px;
}
.card-body {
    background-color: darkblue;
}
.btn.btn-success.btn-sm {
    height: 30px;
    width: 100px;
    font-size: 17px;
}




/* Beginnin of Media Queries */
@media only screen and (max-width: 1035px) {

    .search-input {
        width: 400px;
        margin-right: 20px;
    }

}
@media only screen and (max-width: 500px) {

    .search-input {
        width: 390px;
        margin-right: 20px;
    }

}
