<div id="two" class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form class="form-inline" >
                        <div class="form-group">
                            <input [(ngModel)]="searchUser" name="searchUser" size="40" type="search" class="search-input">
                        </div>
                        <div>
                            <input (click)="searchButton()" type="Submit" value="Search" class="btn btn-success btn-sm">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>